name: gex_common_ui_elements
version: 0.1.0+19
description: A starter template for a polymer.dart web app.
environment:
  sdk: '>=1.8.0 <2.0.0'
dependencies:
  browser: '>=0.10.0+2 <0.11.0'
  logging: '>=0.9.2 <0.10.0'
  paper_elements: '>=0.6.0 <0.7.0'
  polymer: '>=0.15.0 <0.16.0'
  di: ">=3.3.3 <4.0.0"
  shelf: '>=0.5.6 <0.6.0'
  shelf_static: '>=0.2.1 <0.3.0'
dev_dependencies:
  unittest: ">=0.11.4 <0.12.0" 
  mockito: ">=0.8.1 <0.9.0"  
transformers:
- polymer:
    entry_points:
      - web/index.html
      - test/test_button.html
      - test/test_toolbar.html      
      - test/test_view_port.html  
      - test/test_application.html  
      - test/test_bus.html  
- $dart2js:
    commandLineOptions:
      - --enable-enum
      
      
